.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

un_sdg/.Rproj*
un_sdg/output
un_sdg/metadata
.DS_Store
.env
env/
.venv
__pycache__/
.ipynb_checkpoints/
povcal/data_by_poverty_line/
povcal/output/
